<main role="main" class="inner cover">
  <h1 class="cover-heading">Notifications done right!</h1>
  <p class="lead">PostIT is a simple application that allows friends and colleagues create groups for notification</p>
  <p class="lead">
    <a href="/user" class="btn btn-lg btn-secondary">Get Started</a>
  </p>
</main>
