<div class="col-sm-4 group-card">
  <div class="card border-primary mb-3 bg-transparent" style="max-width: 20rem;">
    <div class="card-body relative">
      <h6 class="card-title"><%= group[:group].name %></h6>
      <span class="badge badge-danger user-chip unread-label"><%= group[:unread_count] %> new</span>
      <p class="card-text"><%= group[:group].description %></p>
      <%= link_to "Visit Group", group[:group], class: "card-link" %>
    </div>
  </div>
</div>
