<div class="container-fluid">
  <h5>Group Dashboard</h5>
  <%= link_to "Create New Group", new_group_path, class: "btn btn-primary float-right" %> <br/>
</div>
<div class="container-fliud">
  <% if @groups %>
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  <% else %>
    <p>No group exists</p>
  <% end %>
</div>

