// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #1e2440;
$secondary-color: #f04a57;
$third-color: #f2efe2;

.card-body {
  p {
    font-size: 0.8rem;
  }
  
  a {
    font-size: .9rem;
  }
}

.group-card {
  max-height: 148px;
}

a.list-group-item.list-group-item-action.border.border-primary.border-left-0.border-right-0.bg-transparent:hover {
  background: $third-color !important;
  color: $primary-color;
}

.card.border.border-primary.bg-transparent.rounded-0 {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

a.btn.btn-link.back-btn {
  text-decoration: none;
}

.badge.user-chip {
  font-style: italic;
  font-weight: 100;
}

#addHelp, #removeHelp {
  font-size: 0.7rem;
  font-style: italic;
}


#search-results {
  height: 20vh;
  overflow-y: auto;
}
