// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-flex {
  height: 70vh;
}

html,
body {
  height: 100%;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.mastfoot {
  position: fixed;
  bottom: 0;
  color: rgba(255,255,255,.5);
  width: 100%;
}

@media (min-width: 62em) {
  .mastfoot {
    width: 42rem;
  }
}

ul.pagination.pagination li {
  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #f2efe2;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  a {
    display: block;
    text-decoration: none;
  }

  &.active {
    color: #f04a57;
  }

  padding: 0.3rem 1rem;
  border: 1px solid #f2efe2;
  border-left: 0;
  cursor: pointer;
}

.auth-div {
  height: 15rem;
}
