// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-flex {
  height: 70vh;
}

html,
body {
  height: 100%;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.mastfoot {
  position: fixed;
  bottom: 0;
  color: rgba(255,255,255,.5);
  width: 100%;
}

@media (min-width: 62em) {
  .mastfoot {
    width: 42rem;
  }
}
