<!DOCTYPE html>
<html>
  <head>
    <title>PostITRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PostIT</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/users">Get Started</a>
                <a class="nav-link" href="/contact">Contact</a>
              </nav>
            </div>
          </header>
          <%= yield %>
          <footer class="mastfoot">
            <div class="inner">
              <p>&copy;2017 <a href="https://github.com/9jaswag/postit">PostIT</a>.</p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
